{% load static %}

<!DOCTYPE html>
<html lang="en-uk">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Crypto Z</title>
      <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <!-- bootstrap -->
      
      <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

      <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script> -->

    </head>

    <body>
      <nav class="navbar navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <div class="container-fluid">  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand abs" href="{% url 'index' %}"><img src="{% static 'img/loggo.png' %}" alt="Crypto Z loggo" style="height: 100px;"> </a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              <!-- Show different nav menu items to logged in and unauthenticated users -->
              {% if user.is_authenticated %}

              <div class="container-fluid">
                <div class="navbar-collapse">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'btc_buy' %}">Buy Bitcoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'btc_sell' %}">Sell Bitcoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'btc_deposit' %}">Deposit Bitcoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'btc_withdraw' %}">Withdraw Bitcoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'usd_deposit' %}">Deposit USD</a></li>
                        <li><a class="dropdown-item" href="{% url 'usd_withdraw' %}">Withdraw USD</a></li>
                      </ul> 
                    </li>
                  </ul>
                </div>
            </div>

              
            <div class="navbar-collapse">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Details
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'user_details' %}">Financials</a></li>
                    <li><a class="dropdown-item" href="{% url 'user_requests' %}">Transactions</a></li>
                  </ul> 
                </li>
              </ul>
            </div>
      
          {% endif %}
            </div>
            <!-- right nav -->
          <div class="navbar-nav ms-auto">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contact Us</a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'review' %}"> Review</a></li>
                  <li><a class="dropdown-item" href="{% url 'contact_us' %}">Contact Us</a></li>
                </ul> 
              </li>
            </ul>
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a> 
            {% else %}
            <a class="nav-link" href="{% url 'register' %}">Register</a>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
          </div>

          
        </div>
          
      </nav> <br>
        
        {% block content %} {% endblock %}
        {% block scripts %} {% endblock %}

    </body>

</html>