{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- BTC Buy Dashboard -->
    <section id="btc_buy" align="center">
        <div align="center">
            <h1>{{user.username}}</h1>
            Current price of Bitcoin: <b>${{btcprice}}</b> <br>
            Current Bitcoin balance: <b>{{btcdetails.balance_btc}}BTC</b> <br>
            Current USD balance: <b>${{fiatdetails.balance}}</b> <br>
        </div>

        <div id="bootstrap-override" class="form-section" align="center">
            <form id="btc-buy-Form" class="default-form align-items-center" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                  <label for="USD-amount" class="form-label">Amount of bitcoin you want in USD</label>
                  <input class="form-control" id="usdamount_crypto" name="usdamount" required>
                  <input type="hidden" name="transaction_priority" value="0">
                  <input type="checkbox" name="transaction_priority" value="1">  Fast-Transaction <br> pay a higher fee to make the transaction faster
                </div>
                 <!-- Display message when user clicks buy -->
                <h2 id="btc-buy"></h2>
                <h2 id="btc-sell" style="display:none;"></h2>
                <button id="make-transaction" type="submit" value="submit" class="btn btn-primary">Buy</button>
            </form>

           
            {% for message in messages %}
            <h5 style="color: red;">{{ message }}</h5>
            {% endfor %}



        </div>
    </section>

{% endblock %}

{% block scripts %}
    <!-- save price variable so you can access it inside the script -->
    <script>var btcprice = "{{btcprice}}" </script>
    <script src="{% static 'js/general.js'%}"></script>
{% endblock %}