{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Dashboard for for authenticated users -->
  <section id="dashboard" class="text-center">
    <h1>Here are your details {{user.username}}</h1>

    {% for message in messages %}
      <h5 style="color: red;">{{ message }}</h5>
    {% endfor %}

    <div id="bootstrap-override" class="float-start col-sm-6">
      BTC Balance: {{btcdetails.balance_btc}} <br>
      BTC Balance in USD: {{btcdetails.balance_usd}} <br>
      <a href="{% url 'btc_buy' %}"> <button type="submit" value="buy" class="btn btn-primary">Buy</button> </a>
      <a href="{% url 'btc_sell' %}"><button type="submit" value="sell" class="btn btn-primary">Sell</button> </a>
      <a href="{% url 'btc_deposit' %}"><button type="submit" value="btc_deposit" class="btn btn-primary">Deposit</button> </a>
      <a href="{% url 'btc_withdraw' %}"><button type="submit" value="sell" class="btn btn-primary">Withdraw</button> </a>
      <!-- <button type="submit" value="send" class="bootstrap-override btn btn-primary">Send</button>
      <button type="submit" value="receive" class="btn btn-primary">Receive</button>
      <button type="submit" value="withdraw" class="btn btn-primary">Withdraw</button> -->
    </div>

    <div id="bootstrap-override" class="float-end col-sm-6">
      USD Balance: ${{fiatdetails.balance}} <br><br>
      <a href="{% url 'usd_deposit' %}"><button type="submit" value="deposit" class="btn btn-primary">Deposit</button></a>
      <a href="{% url 'usd_withdraw' %}"><button type="submit" value="withdraw" class="btn btn-primary">Withdraw</button></a>
      <!-- <button type="submit" value="history" class="btn btn-primary">History</button> -->
    </div>
    <!-- <h5>Asset</h5> -->
    <img src="{% static 'img/assets.png' %}" alt="Crypto Z loggo" style="height: 350px; width: 350px;">
  </section>


{% endblock %}