{% extends "base.html" %}

{% block content %}
  <!-- Dashboard for for authenticated users -->
  <section id="dashboard" class="text-center">
    <h1>Here are your details {{user.username}}</h1>

    {% for message in messages %}
      <h5 style="color: red;">{{ message }}</h5>
    {% endfor %}

    <div id="bootstrap-override" class="float-start col-sm-6">
      BTC Balance: {{btcdetails.balance_btc}} <br>
      BTC Balance in USD: {{btcdetails.balance_usd}} <br>
      <a href="{% url 'btc_buy' %}"> <button type="submit" value="buy" class="btn btn-primary">Buy</button> </a>
      <a href="{% url 'btc_sell' %}"><button type="submit" value="sell" class="bootstrap-override btn btn-primary">Sell</button> </a>
      <!-- <button type="submit" value="send" class="bootstrap-override btn btn-primary">Send</button>
      <button type="submit" value="receive" class="btn btn-primary">Receive</button>
      <button type="submit" value="withdraw" class="btn btn-primary">Withdraw</button> -->
    </div>

    <div id="bootstrap-override" class="float-end col-sm-6">
      USD Balance: ${{fiatdetails.balance}} <br>
      <a href="{% url 'usd_deposit' %}"><button type="submit" value="deposit" class="btn btn-primary">Deposit</button></a>
      <a href="{% url 'usd_withdraw' %}"><button type="submit" value="withdraw" class="btn btn-primary">Withdraw</button></a>
      <!-- <button type="submit" value="history" class="btn btn-primary">History</button> -->
    </div>
  </section>

    <!-- review form -->
  <section id ="review-form">

    <div id="bootstrap-override" class="form-section" align="center">
      <form id="reviewForm" class="default-form align-items-center" method="POST">
        {% csrf_token %}
        <h1>Write a review</h1> <br>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
          <label for="review" class="form-label">Review</label><br>
          <textarea id="review" name="review" rows="3" cols="80"></textarea>
          
        </div>
        <button type="submit" value="review" class="btn btn-primary">Submit</button>
        
      </form>
    </div>
    
  </section>


{% endblock %}