{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Login form -->
  <section id ="login-form">

    <div id="bootstrap-override" class="form-section" align="center">
      <form id="loginForm" class="default-form align-items-center" method="POST">
        {% csrf_token %}
        <h1>Forgot Password</h1> <br>
        <p>Please enter your username and email to receive a code to allow you to receive a code to reset your password</p>
        <!-- Display message when there's an error logging in the user -->
        {% for message in messages %}
          <h5 style="color: red;">{{ message }}</h5>
        {% endfor %}
        <div class="mb-3">
          <label for="InputUsername" class="form-label">Username</label>
          <input type="username" class="form-control" id="Inputusername" name="username" required>
        </div>
        <div class="mb-3">
          <label for="Inputemail" class="form-label">Email</label>
          <input type="email" class="form-control" id="Inputemail" name="email">
        </div>
        <button type="submit" value="get_code" class="btn btn-primary">Get code</button>
        
      </form>
    </div>
    
  </section>

{% endblock %}