{% extends "base.html" %}

{% block content %}
  <!-- Login form -->
  <section id ="login-form">

    <div id="bootstrap-override" class="form-section" align="center">
      <form id="registrationForm" class="default-form align-items-center" action="login" method="POST">
        {% csrf_token %}
        <h1>Log In</h1> <br>
        <!-- Display message when there's an error logging in the user -->
        {% for message in messages %}
          <h5 style="color: red;">{{ message }}</h5>
        {% endfor %}
        <div class="mb-3">
          <label for="InputUsername" class="form-label">Username</label>
          <input type="username" class="form-control" id="Inputusername" name="username">
        </div>
        <div class="mb-3">
          <label for="InputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="InputPassword1" name="password">
        </div>
        <button type="submit" value="login" class="btn btn-primary">Login</button>
        
      </form>
    </div>
    
  </section>

{% endblock %}