{% extends "base.html" %}

{% block content %}
  <!-- Registration form -->
  <section id="registration-form">

    <div id="bootstrap-override" class="form-section" align="center">
      <form id="registrationForm" class="default-form align-items-center" action="register" method="POST">
        {% csrf_token %}
        <h1>Sign Up</h1> <br>
        <!-- Display message when there's an error registering the user -->
        {% for message in messages %}
          <h5 style="color: red;">{{ message }}</h5>
        {% endfor %}
        <div class="mb-3">
          <label for="InputEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="InputEmail" name="email" required aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Enter a valid email</div>
        </div>
        <div class="mb-3">
          <label for="InputUsername" class="form-label">Username</label>
          <input type="username" class="form-control" id="Inputusername" name="username" required aria-describedby="usernameHelp">
          <div id="usernameHelp" class="form-text">Select unique username</div>
        </div>
        <div class="mb-3">
          <label for="InputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="InputPassword1" name="password" required aria-describedby="passwordHelp1">
          <div id="passwordHelp1" class="form-text">Make sure you choose a strong password</div>
        </div>
        <div class="mb-3">
          <label for="InputPassword2" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="InputPassword2" name="password2" required aria-describedby="passwordHelp2">
          <div id="passwordHelp2" class="form-text">Retype the Password</div>
        </div>
        <div class="mb-3 form-check">
          <label class="form-check-label" for="exampleCheck1">by clicking register you agree to <a class="default-link" href="#">Terms and Conditions</a></label>
        </div>
        <button id="bootstrap-override" type="submit" value="register" class="btn btn-primary">Register</button>
      </form>
    </div> <br class="gap-xl-5">
    <div align="center">
      <span class="txt2 p-b-10">Already have an account?</span><br>
      <a class="default-link" href="{% url 'login' %}" class="txt3 bo1 hov1">Login now</a>
    </div>

  </section>

{% endblock %}