{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- USD deposit Dashboard -->
    <section id="usd_deposit" align="center">
        <div align="center">
            <h1>{{user.username}}</h1>
            <h5>Enter Withdraw details</h5>
            <h6>Bank details Can be changed from the Details page</h6>
            <p> 
                Reference: <b>{{reference}}</b> <br>
                USD Balance: <b>${{fiatdetails.balance}}</b> <br>
                Bank Name: <b>{{fiatdetails.bank_details}}</b> <br>
                Account Name: <b>{{fiatdetails.account_name}}</b> <br>
                Account Number: <b>{{fiatdetails.account_number}}</b> <br>
            </p>
        </div>

        <div id="bootstrap-override" class="form-section" align="center">
            <form id="usd-deposit-form" class="default-form align-items-center" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">  
                  <label for="usdamount_fiat" class="form-label">USD amount to transfer into your bank account</label>
                  <input class="form-control" id="usdamount_fiat" name="usdamount">
                </div>
                <div class="mb-3">
                    <label for="proof">Upload an <b>image</b> of your <b>face</b> with your <b>passport/id</b> and <b>reference</b> in the frame for <b>Security</b></label>
                    <input class="form-control" type="file" id="proof" name="proof" accept="image/*"> 
                </div>
                <h2 id="usd-deposit"  style="display:none"></h2>
                <h2 id="usd-withdraw"></h2>
                <button id="make-transaction" type="submit" value="submit" class="btn btn-primary"><Div>Withdraw</Div></button>

            </form>

            <!-- Display message when user clicks buy -->
            {% for message in messages %}
            <h5 style="color: red;">{{ message }}</h5>
            {% endfor %}

            <!-- Help section -->
            <!-- <p><br> Click the button below for help</p>
            <p><button id="gethelp" class="btn btn-primary">Help</button></p>
            <div id="help" style="display:none">
                <p><b>Account Number:</b> Your account number at the specified bank</p>
                <p><b>USD Amount:</b> The USD amount you want us to transfer into your bank account</p> 
                <p><b>Proof:</b> Please upload an image of yourself with your passport/id and reference in the frame for <b>Security</b></p> 
            </div> -->

        </div>
    </section>


{% endblock %}

{% block scripts %}
    <!-- save price variable so you can access it inside the script -->
    <script>var usdbalance = "{{fiatdetails.balance}}" </script>
    <script src="{% static 'js/general.js'%}"></script>
{% endblock %}