{% extends "base.html" %}
{% load static %}


{% block content %}



<section id="user_details" >
    <div class="container">
        {% for message in messages %}
          <h5 style="color: red;">{{ message }}</h5>
        {% endfor %}
        <section class="container table-responsive-sm">
        <h2>Personal Details</h2>            
        <table id="user_details" class="table table-bordered table-sm">
            <thead>
                <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in userdetails %}
                <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                </tr>
                
            </tbody>
        </table>
    
        <!-- https://www.w3schools.com/howto/howto_js_popup_form.asp -->
        <button class="open-button" onclick="openPersonalDetails()">Update Personal details</button>
        <div class="form-popup" id="personal_details">
            <form action="" class="form-container" method="POST">
            {% csrf_token %}
            <h1>Personal</h1>

            <label for="first_name"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" value="{{user.first_name}}" name="first_name">
            
            <label for="last_name"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" value="{{user.last_name}}" name="last_name">

            <!-- Removed email because if user enters wrong email they wont be able to login -->
            <!-- <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required> -->
        
            <button type="submit" class="btn" name="personal">Update</button>
            <button type="button" class="btn cancel" onclick="closePersonalDetails()">Close</button>
            </form>
        </div> 
        {% endfor %}
        </section>
   
        <section class="container table-responsive-sm">
            <h2>Financials</h2>
        <table id="user_requests" class="table table-bordered table-sm">
            <thead>
                <tr>
                <th>Bank Name</th>
                <th>Account Name</th>
                <th>Account Number</th>
                </tr>
            </thead>
            <tbody>
                {% for fiat in fiatdetails %}
                <tr>
                <td>{{ fiat.bank_details }}</td>
                <td>{{ fiat.account_name }}</td>
                <td>{{ fiat.account_number }}</td>
                </tr>
            </tbody>
        </table>
    
        <!-- https://www.w3schools.com/howto/howto_js_popup_form.asp -->
        <button class="open-button" onclick="openFinancialDetails()">Open Financials</button>
        <div class="form-popup" id="financial_details">
            <form action="" class="form-container" method="POST">
                {% csrf_token %}
                <h1>Financials</h1>
                {% for message in messages %}
                <h5 style="color: red;">{{ message }}</h5>
                {% endfor %}
                <label for="bank_name" class="form-label">Bank Name</label>
                <!-- All the banks in zimbabwe https://en.wikipedia.org/wiki/List_of_banks_in_Zimbabwe -->
                <select class="form-control" name="bank_name">
                    <option value="{{fiat.bank_details}}">{{fiat.bank_details}}</option>
                    <option value="ABC">ABC</option>
                    <option value="AFC">AFC</option>
                    <option value="CBZ">CBZ</option>
                    <option value="Ecobank">Ecobank</option>
                    <option value="First Capital">First Capital</option>
                    <option value="Metbank">Metbank</option>
                    <option value="Nedbank">Nedbank</option>
                    <option value="NMB">NMB</option>
                    <option value="Stanbic">Stanbic</option>
                    <option value="Standard Chartered">Standard Chartered</option>
                    <option value="Steward">Steward</option>
                    <option value="ZB">ZB</option> 
                </select>
                
                <label for="account_name"><b>Account Name</b></label>
                <input type="text" placeholder="Enter Account Name" value="{{fiat.account_name}}" name="account_name">

                <label for="account_number"><b>Account Number</b></label>
                <input type="text" placeholder="Enter Account Number" value="{{fiat.account_number}}" name="account_number">
            
                <button type="submit" class="btn" name="financials">Update</button>
                <button type="button" class="btn cancel" onclick="closeFinancialDetails()">Close</button>
            </form>
        </div>
        {% endfor %}
        </section> 
        
        <section class="container table-responsive-sm">
            <h2>Password Reset</h2>      
            <button class="open-button" onclick="openPasswordReset()">Forgot Password</button>
            <div class="form-popup" id="password_reset">
                <form action="" class="form-container" method="POST">
                    {% csrf_token %}
                    <h1>Reset Password</h1>
                    
                    <label for="password1"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password1" required>
                    <label for="password2"><b>Re-enter Password</b></label>
                    <input type="password" placeholder="Re-Enter Password" name="password2" required>

                    <button type="submit" class="btn" name="password">Update</button>
                    <button type="button" class="btn cancel" onclick="closePasswordReset()">Close</button>
                </form>
            </div>
        </section>

    </div>
    </section>

    
</section>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/general.js'%}"></script>
{% endblock %}