body {
  background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
  color: #514B64;
  min-height: 100vh;
}

code {
  background: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin: 0 0.3rem;
}

.default-link{
  color: #FF8C00;
}

.default-link:hover{
  color: #ffa500;
}

#bootstrap-override button{
  background-color: #000;
  border-color: #514B64;
}

/* canter align navbar Site Name  */
@media (min-width: 768px) {
  .navbar-brand.abs {
      position: absolute;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-size: 200%;
  }
}

.navbar{
  font-size: 110%;
}

#bootstrap-override form{
  text-align: center;
  display: inline-block;
}
